#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.add-expense-form div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.add-expense-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.add-expense-form select,
.add-expense-form input {
  width: 100%;
  box-sizing: border-box;
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.add-category {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding: 15px 0;
}

.add-category input {
  flex: 1;
  box-sizing: border-box;
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.expenses-list {
  padding-left: 0;
  width: 100%;
}

.expenses-list li {
  list-style: none;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid gray;
  padding-top: 0;
}

.expenses-list li:not(:first-child) {
  padding-top: 10px;
}

.expenses-list div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.expenses-list button {
  border: none;
  background: none;
}

.error-text {
  color: red;
}

.main-section {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.card {
  flex: 1;
  background-color: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card > * {
  margin-bottom: 15px;
}

.categories-section {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.expenses-section {
  display: flex;
  flex: 2;
}

.categories-list,
.grouped-expenses {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.categories-list ul {
  text-align: left;
  padding-left: 20px;
}

.expenses-section {
  display: flex;
  flex-direction: column;
}

.budget-exceeded {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.submit-button {
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  background-color: white;
}
